.artist {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  height: 5rem;
  width: 22rem;
  background-color: var(--cardClr);
  align-items: center;
  border-radius: 0.25rem;
  overflow: hidden;
}

.artist img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    aspect-ratio: 1/1;
}
.artist p {
    font-weight: 500;
}
